@import "../helper/variables";
@import "../helper/mediaqueries";
@import "../helper/form";

@import '~bootstrap';
@import '~font-awesome';

@import "../layout/header";
@import "../layout/footer";

@import "../components/cards";
@import "../components/articles";
@import "../components/profile";

.bg-error{
  background-image: url("../../images/error/bg-error-smartphone.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include media-portrait-tablet {
    background-image: url("../../images/error/bg-error-desktop.jpg");
  }
}

.card-one {
  margin-bottom: 20px;
  @include media-laptop {
    padding-left: 20%;
  }
}

.card-two {
  @include media-laptop {
    padding-right: 20%;
  }
}