<!-- Modal Images -->
<div class="modal fade" id="modalImages" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fermer</h4>
            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="row">
                        {% for image in images %}

                            <div class="col-xs-12 w-100">
                                <img src="{{ asset('uploads/trick_picture/') ~ image.imageFileName }}"
                                     class="rounded mt-4 imgtrick img-fluid"
                                     alt="">
                            </div>

                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->