.card-img-top {
  height: 300px;
  width: 100%;
  @include media-laptop {
    height: 200px;
  }
  @include media-desktop {
    height: 150px;
  }
}

.card-body {
  @include media-portrait-tablet {
    min-height: 180px;
  }
}

.card-footer {
  padding : 0.75rem 0.5rem;
  @include media-laptop {
    min-height:200px;
  }
}


.card-title {
  width: 65%;
  @include media-portrait-tablet {
    width: 75%;
  }
  @include media-laptop {
    width: 100%;
  }
}

.card-title-no-user {
  width: 100%;
}

.card-buttons {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  @include media-portrait-tablet {
    width: 25%;
  }
  @include media-laptop {
    width: 100%;
    justify-content: center;
    align-items: flex-end;
  }
}