{% extends 'emails/emailBase.html.twig' %}

{% block content %}
    <row class="header-email">
        <columns>
            <spacer size="35"></spacer>
            <h1>
                <center>
                    Réinitialisation de votre Mot de passe SnowTricks
                </center>
            </h1>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <row class="header">
        <columns>
            <a href="{{ url('homepage_action') }}">
                <img src="{{ email.image('@images/emails/board2.jpg') }}" class="logo" alt="Snowboard">
            </a>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p>
                Vous avez demandez un changement de votre mot de passe sur <strong>SnowTricks</strong>
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <p>Cliquer sur le bouton ci-dessous pour réinitialiser votre mot de passe.</p>
            <center>
                <button href="{{ url('app.reset.password', {token: tokenSent }) }}">Changement du mot de passe</button>
            </center>
        </columns>
    </row>
{% endblock %}
